.form-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    max-width: 479px;
    background-color: #fff;
}